@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    /* background-color: #18181d; */
    background-color: #1f1f22;
    /* background-color: #24242c; */
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    background-color: rgba(17, 17, 17, 0.26);
    border: 1px solid white;
    padding: 45px 45px;
    border-radius: 15px;
    margin-bottom: 150px;
    box-shadow: -1px 1px 26px 0px rgba(255, 255, 255, 0.199);

}
div{
    text-align: center;
}
input{
    /* text-align: center; */
    width: 150px;
    margin: 5px;
}
textarea{
    width: 100%;
}
input, textarea{
    border-radius: 5px;
    font-family: Poppins;
    font-size: 16px;

}
button{
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 5px;
    /* text-transform: uppercase; */
}

h1{
    /* -webkit-text-stroke: 1px rgb(255, 255, 255); */
    /* color: #18181d00; */
    font-size: 50px;
    color: white;
}
div > p{
    color: grey;
    margin-top: -10px;
    margin-bottom: 25px;
}
