@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: #18181d;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    /* background-color: rgba(0, 0, 255, 0.26); */
    border: 1px solid white;
    padding: 45px 45px;
    border-radius: 15px;
    margin-bottom: 150px;

}
h1{
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    color: #18181d;
    font-size: 35px;
}
